<ion-header>
  <ion-navbar>
   <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="!loginStatus" padding>
<ion-list>

  <ion-item>
    <ion-input type="text" placeholder="Username" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
  </ion-item>

</ion-list>

<div padding>
  <button ion-button (click)="submitLogin()">Sign In</button>
  <p>{{error}}</p>
</div>
</ion-content>
<ion-content *ngIf="loginStatus" padding>
 <button ion-button (click)="submitLogout()">Log Out</button>
  
</ion-content>
